<footer class="footer py-3 mt-auto text-center">
    <div class="container">
        <span class="light-text">&copy; 2023 Student Volunteer Network. All rights reserved. | <a
                href="/under-construction" class="light-text slide-underline">Terms of Service</a> | <a
                href="/under-construction" class="light-text slide-underline">Privacy Policy</a></span>
    </div>
</footer>