<% currentPage = '404 Page Not Found' %>

<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/404.css">

<div class="container">
    <div class="d-flex justify-content-center hover-rotate">
        <a href="/">
            <span class="br-md"></span>

            <lottie-player src="/media/404.json" background="transparent" speed="1" style="width: 70vw; height: 65vh;"
                loop autoplay></lottie-player>
        </a>
    </div>
</div>