<% currentPage = 'Coming Soon...' %>

<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/503.css">

<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <a href="/">
            <lottie-player src="/media/503.json" background="transparent" speed="1" style="width: 50vw; height: 65vh;"
                loop autoplay class="hover-rotate"></lottie-player>
        </a>
    </div>
</div>