<% currentPage = 'Student Volunteer Network' %>

<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/home_v2.css">

<div data-bs-spy="scroll" data-bs-target="#main-nav" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy-example" tabindex="0">

    <section id="main_section">
        <div class="container">
            <div class="row gx-5">
                <div class="col-6 text-center pt-4">
                    <h1 class="light-text pb-3">
                        Welcome to SVN!
                    </h1>
                    <h4 class="light-text pb-3">Need help with your buisness or want to help your community? Sign up for
                        FREE
                        and help your community TODAY!
                    </h4>
                    <a href="/register">
                        <button class="btn btn-primary banner-btn light-text" id="banner-btn">Sign Up Now!</button>
                    </a>
                </div>
                <div class="col-6">
                    <div class="globe_container">
                        <div class="globe svg-background round">
                            <div class="core graphics round"></div>
                            <div class="curve graphics round"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
    </section>

    <section id="about">
        <div class="container text-start">
            <div class="row">
                <div class="col-6">
                    <h2 class="dark-text">Why Us?</h2>
                    <p class="dark-text">SVN is a volunteering management system that simplifies the process of
                        connecting
                        volunteers with
                        organizations in need. Whether you're an individual looking to contribute your time and
                        skills,
                        or
                        an
                        organization seeking volunteers for your cause, SVN has you covered.
                    </p>
                </div>
                <div class="col-6"></div>
            </div>
        </div>
    </section>

    <section id="automated-info">
        <div class="container text-end">
            <div class="top-splitter">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h2 class="light-text">Volunteering Automated...</h2>
                    <p class="light-text mb-5">Effortlessly manage your volunteer program with SVN's intuitive platform.
                        Easily create volunteer
                        opportunities, track volunteer hours, and communicate with your volunteers all in one place. Say
                        goodbye
                        to filling out papers and scrambling for signatures, SVN automates everything for you, so you
                        can
                        focus
                        on what's important.
                    </p>
                    <a href="/register">
                        <button class="btn btn-primary light-text">Start Now!</button>
                    </a>
                </div>
            </div>
            <div class="bottom-splitter">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </div>
    </section>

    <section id="map-info">
        <div class="container text-start">
            <div class="row">
                <div class="col-6">
                    <h2 class="dark-text">World At Your Step!</h2>
                    <p class="dark-text mb-5">Our intuitive map is designed to make your search for volunteer locations
                        a
                        breeze. Simply enter your location or use the map's interactive features to explore nearby
                        options.
                        With our user-friendly interface, you can quickly identify volunteer organizations, events, and
                        projects that align with your interests and availability.
                    </p>
                    <a href="/locations">
                        <button class="btn btn-primary dark-text">View Locations</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    window.onscroll = function () { scrollFunction() }

    const navbar = document.getElementById("main-nav")
    navbar.classList.add('navbar-hidden')

    function scrollFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            navbar.classList.remove('navbar-hidden')
        } else {
            navbar.classList.add('navbar-hidden')
        }
    }
</script>